/*.switcher {*/
/*  display: flex;*/
/*  justify-content: right;*/
/*  margin-top: -30px;*/
/*  margin-bottom: 100px;*/
/*}*/

/*on big screen >425 margin-bottom: 0px, 425<= on small screen margin-bottom: 20px*/
.switcher {
  display: flex;
  justify-content: right;
  margin-top: -30px;
  margin-bottom: 100px;
}

/* Media query for screens 425px or smaller */
@media (max-width: 426px) {
  .switch-container {
    margin-bottom: 100px;
  }
}

/* Media query for screens larger than 425px */
@media (min-width: 426px) {
  .switch-container {
    margin-bottom: -100px; /* Adjust this value as needed */
  }
}



/*in left corner of introduction*/
.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5f6367;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.fas {
  font-size: 24px;
  color: #f39c12; /* Sun color */
}

.fas.fa-moon {
  color: #f1c40f; /* Moon color */
}

