<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<section class="introduction">
<div class="social-links">
  <a href="https://github.com/Romiiis" target="_blank"><i class="fab fa-github"></i></a>
  <a href="https://instagram.com/romis_pejs" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://discord.com/users/romiis" target="_blank"><i class="fab fa-discord"></i></a>
</div>

  <div class="profile-pic">
    <img ngSrc="assets/MEHH.JPEG" alt="Profile Picture" height="1472" width="828">
  </div>

  <div class="content">
    <h1>Hello, I'm Roman Pejs</h1>
    <p>
      I am a 21 year old student of computer science at the Faculty of Applied Sciences at the University of West Bohemia in Pilsen with a passion for programming.     </p>
    <div class="info-cards">
      <div class="info-card">
        <h2>Skills</h2>
        <p>Java, PHP, HTML, Angular, C, C#, Python, JavaScript</p>
      </div>
      <div class="info-card">
        <h2>Experience</h2>
        <p>I'm currently working in a students lab at Eurosoftware in Pilsen</p>
      </div>
      <div class="info-card">
        <h2>Education</h2>
        <p>Currently in the second year of bachelor studies at the Faculty of Applied Sciences at the University of West Bohemia in Pilsen</p>
      </div>
      <div class="info-card">
        <h2>Interests</h2>
        <p>VideoGames, Programming, Guitar playing, Star Wars fan</p>
      </div>
    </div>
    <p>
      I am always eager to learn new technologies and take on new challenges. If you’d like to collaborate or just have a chat, feel free to reach out!
    </p>
    <a href="mailto:romispejs@gmail.com" class="contact-button"><i class="fa-regular fa-envelope"> </i> Contact Me</a>

  </div>

</section>
